body{
	margin:0;
	padding:0;
}

.wrapper{
	width: 1500px;
	margin: 0 auto;
}
header{
	height: 100px;
	background:#262626;
	width: 100%;
	z-index: 12;
	position: fixed;
}
.logo{
	width:50%;
	float:left;
	line-height: 100px;
	text-decoration: none;
	text-transform:uppercase;
	font-size:30px;
	font-family: bignoodletitling;
	color: #fff;
	letter-spacing: 5px
}

nav{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100px;
	padding: 10px 1px;
	box_sizing:border-box;
	bakground:rgba(0,0,0,0.5);
}
nav ul{
	list-style:none;
	float:right;
	margin:0;
	padding:0;
	display:flex;
}
nav ul li a{
	line-height:90px;
	color:#fff;
	padding:12px 30px;
	text-decoration: none;
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
}
nav ul li a:hover{
	background:rgb(255,0,0);
	border-radius:6px;
}
.content-area{
	width: 1350px;
	position: relative;
	top: 450px;
	background: #ddd;
	height: 3500px;
}
.banner-area{
	width: 1350px;
	height: 400px;
	position: fixed;
	top: 100px;
	background-image: url("web images/damn.jpg");
	background-size: cover;
	background-position: center center;
}
.banner-area h2{
	padding-top: 8%;
	font-size: 70px;
	font-family: Arial;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}	
.movie-col h3{
	padding-top:6%;
	font-size: 40px;
	font-family: Verdana;
	text-transform: uppercase;
	text-align: center;
}
.movie-col p{
	font-size: 15px;
	font-family: Verdana;
	text-align: center;
	word-spacing: 5px;
}
img{
	padding-left: 150px;
    margin: 5px;
    position: center center;
	background-size: cover;	
}
	.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}